@import url(https://fonts.googleapis.com/css?family=Lato:400,900);
body {
  background-attachment: fixed;
  background-image: url(../images/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

.align-center {
  text-align: center; }

.bottom {
  position: absolute;
  bottom: 15px;
  width: 100vw; }

.bottom__enlace {
  color: #0099f1; }

.loginTop {
  position: absolute;
  top: 15px;
  right: 15px; }

.logo {
  margin-top: 30px;
  text-align: center; }

.logo__name {
  color: #4b4d52;
  font-size: 20px;
  font-weight: bold;
  margin-top: -6px;
  margin-bottom: 30px;
  text-transform: uppercase; }
  .logo__name span {
    color: #0099f1;
    display: block;
    font-size: 11px;
    letter-spacing: 1px;
    margin-top: -6px; }

.ingreso__caja {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  border: solid 1px #abadb2;
  height: 45px;
  margin: 0 auto 15px auto;
  width: 240px; }

.ingreso__caja.ok {
  background-color: rgba(0, 213, 140, 0.1);
  border: solid 1px #00d58c; }
  .ingreso__caja.ok .ingreso__azul {
    background: #00d58c; }

.ingreso__caja.error {
  background-color: rgba(232, 56, 81, 0.1);
  border: solid 1px #e83851; }
  .ingreso__caja.error .ingreso__azul {
    background: #e83851; }

.ingreso__azul {
  background: #0099f1;
  display: inline-block;
  height: 44px;
  vertical-align: top;
  width: 45px;
  border-radius: 2px 0 0 2px; }

.ingreso__input {
  background: transparent;
  border: none;
  color: #67686d;
  display: inline-block;
  font-size: 14px;
  height: 45px;
  margin: 0;
  outline: none;
  position: relative;
  top: -1px;
  vertical-align: top;
  width: 75%; }

.button {
  background: #0099f1;
  border-radius: 3px;
  border: none;
  color: white;
  display: block;
  font-size: 16px;
  height: 45px;
  margin: 0 auto;
  text-align: center;
  width: 240px;
  margin: 0 auto 35px auto; }

.select {
  background: transparent;
  border: none;
  color: #A9A9A9;
  display: inline-block;
  font-size: 14px;
  height: 45px;
  margin: 0;
  outline: none;
  position: relative;
  top: -1px;
  vertical-align: top;
  width: 75%;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none; }

.intereses__contenedor {
  display: inline-block;
  position: relative;
  width: 75%; }

.intereses__btn {
  background: transparent;
  border: none;
  color: #A9A9A9;
  display: inline-block;
  font-size: 14px;
  height: 45px;
  margin: 0;
  outline: none;
  position: relative;
  top: -1px;
  vertical-align: top;
  width: 100%;
  text-align: left; }
  .intereses__btn span {
    font-size: 12px; }

.arrows {
  background: url(../images/upDown.svg) 212px 13px no-repeat rgba(255, 255, 255, 0.5);
  background-size: 11px; }

.option {
  position: relative;
  top: -2px;
  padding-left: 5px; }

.header {
  background-color: #0099f1;
  height: 50px;
  margin-bottom: 70px; }

#fichapersonal .header {
  margin-bottom: 15px; }

#ranking .header {
  margin-bottom: 0; }

.title {
  color: white;
  font-size: 18px;
  display: inline-block;
  margin: 12px 0 0 30px; }

.menu {
  background-color: white;
  width: 245px;
  height: 100vh;
  position: absolute;
  left: -245px; }

.menu__lista {
  margin: 0;
  padding: 0;
  list-style: none; }

.menu__listaItem {
  background: url(../images/arrow-right.svg) 220px 17px no-repeat;
  background-size: 10px;
  padding-left: 25px;
  height: 50px;
  border-bottom: 1px solid #dbdbdc; }
  .menu__listaItem a {
    display: inline-block;
    color: #4b4d52;
    padding-left: 15px;
    height: 50px;
    width: 80%;
    line-height: 47px; }

#invitacion {
  position: relative; }
  #invitacion .invitacion {
    background: url(../images/arrow-right-white.svg) 220px 17px no-repeat #0099f1;
    background-size: 10px; }
    #invitacion .invitacion a {
      color: white; }

#ranking {
  position: relative; }
  #ranking .rankingcits {
    background: url(../images/arrow-right-white.svg) 220px 17px no-repeat #0099f1;
    background-size: 10px; }
    #ranking .rankingcits a {
      color: white; }

#fichapersonal {
  position: relative; }
  #fichapersonal .fichapersonal {
    background: url(../images/arrow-right-white.svg) 220px 17px no-repeat #0099f1;
    background-size: 10px; }
    #fichapersonal .fichapersonal a {
      color: white; }

.cerrar {
  background: none; }

.shadow {
  -webkit-box-shadow: 0px 3px 154px 7px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 0px 3px 154px 7px rgba(0, 0, 0, 0.42);
  box-shadow: 0px 3px 154px 7px rgba(0, 0, 0, 0.42); }

.perfil {
  text-align: center;
  padding-left: 15px;
  padding-right: 15px; }

.perfil__photo {
  padding: 5px;
  border-radius: 50%;
  width: 112px;
  height: 112px;
  margin: 10px auto 3px auto;
  border: solid 1px #71c4f5;
  text-align: center; }
  .perfil__photo img {
    border-radius: 50%;
    width: 100px;
    position: relative;
    top: 50%;
    margin-top: -50px; }

.perfil__name {
  font-size: 20px;
  font-weight: 700;
  color: #4b4d52;
  margin: 0; }

.perfil__cargo {
  font-size: 9px;
  font-weight: 700;
  color: #4b4d52;
  margin-top: 0; }

.perfil__dir {
  color: #0099f1;
  font-size: 12px;
  font-weight: 700;
  margin-top: 0; }

.modal .perfil__dir {
  color: #4b4d52;
  margin-bottom: 35px; }

.datos {
  background-color: rgba(100, 105, 121, 0.1); }

.datos__cont {
  text-align: center;
  padding: 20px 15px; }

.datos__circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: solid 1px #4e5054;
  margin: 0 auto; }

.datos__number {
  font-weight: 700;
  margin: 5px;
  color: #4b4d52; }

.datos__txt {
  font-weight: 300;
  font-size: 9px;
  margin: 0;
  color: #4b4d52; }

.nivel {
  text-align: center;
  background-color: white;
  padding-top: 15px;
  padding-bottom: 15px; }

.nivel__title {
  color: #4b4d52;
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 400; }

.nivel__photo {
  height: 55px; }

.nivel__txt {
  text-align: center;
  font-weight: 700;
  font-size: 10px;
  margin-top: 5px; }

.nivel__txt.nuevo {
  margin-left: 16px; }

.nivel__txt.avanzado {
  margin-left: -3px; }

.nivel__txt.experto {
  margin-left: -6px; }

.nivel__txt.eminencia {
  margin-left: -9px; }

.nivel__past {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.3; }

.nivel__next {
  opacity: 0.3; }

.premiacion {
  background-color: #cacdd5;
  padding: 30px 15px;
  text-align: center;
  border-bottom: solid 1px #a4a6ad; }

.premiacion__txt {
  color: #4b4d52;
  font-size: 12px;
  margin: 0; }

.ranking__item {
  display: block;
  padding: 5px 0;
  padding: 12px 15px;
  position: relative;
  border-bottom: solid 1px #c6c7ca;
  border-top: solid 1px white; }

#ranking .ranking__item {
  padding: 7px 15px; }
#ranking .ranking__photo {
  margin-top: -29px; }
#ranking .ranking__circle {
  top: 22px; }

.ranking__photo {
  border-radius: 50%;
  width: 38px;
  height: 38px;
  margin-right: 15px;
  border: solid 2px #71c4f5;
  text-align: center;
  display: inline-block;
  position: relative;
  top: 50%;
  margin-top: -13px; }

.ranking__txt {
  display: inline-block;
  position: relative; }

.ranking__name {
  color: #0099f1;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 0;
  margin-top: 0; }

.ranking__vermas {
  font-size: 10px;
  color: #4b4d52;
  margin: 0;
  text-decoration: underline; }

.ranking__numbers {
  font-size: 10px;
  color: #4b4d52;
  margin: 0; }

.ranking__circle {
  background-color: #0099f1;
  color: white;
  font-size: 10px;
  font-weight: 700;
  text-align: center;
  padding: 3px 7px;
  position: absolute;
  right: 15px;
  top: 21px;
  border-radius: 50%; }

.tu {
  border-top: none;
  background-color: #0099f1; }
  .tu .ranking__photo {
    border: solid 2px white; }
  .tu .ranking__name,
  .tu .ranking__numbers,
  .tu .ranking__vermas {
    color: white; }
  .tu .ranking__circle {
    background-color: white;
    color: #0099f1; }

.header__ranking {
  background-color: #0099f1;
  border-top: solid 1px #29a9f3;
  padding-top: 3px;
  padding-bottom: 3px; }
  .header__ranking .col-xs-3 {
    text-align: center;
    padding-left: 5px;
    padding-right: 5px; }

.header__rankingTab {
  text-align: center;
  color: white;
  font-size: 12px;
  font-weight: 400;
  padding: 5px 3px; }

.activo {
  background-color: white;
  color: #0099f1;
  display: block;
  border-radius: 5px; }

.modal__container {
  padding: 15px;
  position: fixed;
  z-index: 9999999;
  width: 100vw;
  height: 100vh;
  top: -300vh;
  text-align: center;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.modal {
  background-color: white;
  border-radius: 5px;
  width: 100%;
  padding: 50px;
  text-align: center;
  position: relative;
  overflow: hidden; }

.modal__info {
  font-size: 12px;
  color: #0099f1;
  margin: 0;
  font-weight: 400;
  margin-bottom: 5px; }
  .modal__info span {
    font-weight: 900; }

.modal__cerrar {
  position: absolute;
  z-index: 9999;
  top: 9px;
  right: 9px; }

.background {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 9;
  background-color: rgba(31, 31, 31, 0.8); }

.modal__ok {
  opacity: 1;
  top: 0; }

.no__scroll {
  overflow: hidden; }

.mensaje {
  border-radius: 3px;
  color: white;
  margin: 10px auto;
  text-align: left;
  max-width: 400px;
  padding: 10px;
  overflow: hidden;
  min-height: 60px;
  padding-left: 50px; }

.mensaje__titulo {
  color: white;
  font-size: 15px;
  font-weight: 900;
  margin: 0; }

.mensaje__bajada {
  color: white;
  font-size: 8px;
  font-weight: 900;
  margin: 0; }

.okey {
  background: url(../images/check.svg) 10px 10px no-repeat #00d58c; }

.wrong {
  background: url(../images/cancel.svg) 10px 10px no-repeat #e83851; }

.alert {
  background: url(../images/right-arrow.svg) 10px 10px no-repeat #d4b166; }

.info {
  background: url(../images/info.svg) 10px 10px no-repeat #0099f1; }

.bgOk {
  background: url(../images/check-ok.svg) 208px 15px no-repeat; }

.bgWrong {
  background: url(../images/wrong.svg) 210px 16px no-repeat; }

/*# sourceMappingURL=app.css.map */
